Repository andre-brdoch/learning-testing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore(validate script): use npm-run-all
  package.json
  yarn.lock
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

ci: validate
  .github/workflows/validate.yml
Due: none

chore: test commit
  src/App.vue
Due: eslint --cache --fix, prettier --write

chore(lint-staged): run prettier on .yml files
  .lintstagedrc.json
Due: prettier --write

chore: bump yarn version
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

ci(validate): use cache
  .github/workflows/validate.yml
Due: none

chore: test committ
  src/App.vue
Due: eslint --cache --fix, prettier --write

chore: update package lock
  package.json
  yarn.lock
Due: prettier --write

ci: use yarn install --immutable flag
  .github/workflows/validate.yml
Due: none

ci: yarn install uses --prefer-offline flag
  .github/workflows/validate.yml
Due: none

ci: use actions/setup-node
  .github/workflows/validate.yml
Due: none

refactor: extract weather logic to weather.ts
  src/assets/weather.ts
  src/components/WeatherData.vue
Due: eslint --cache --fix, prettier --write

test: basic yest setup
  package.json
  src/assets/weather.test.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: jest projects
  README.md
  jest.config.js
  package.json
  test/jest.client.js
  test/jest.common.js
  test/jest.lint.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: use eslint jest runner in linting script
  package.json
Due: prettier --write

chore: format lint runner
  jest.config.js
  package.json
  test/jest.format.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: remove jest-watch-typeahead/testname
  test/jest.common.js
Due: eslint --cache --fix, prettier --write

chore: add eslint-plugin-jest
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: test on lintstaged
  .lintstagedrc.json
  src/assets/weather.test.js
Due: eslint --cache --fix, prettier --write

chore(lint-staged): only run jest
  .lintstagedrc.json
Due: prettier --write

chore: use babel-jest
  package.json
  test/jest.common.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: add ts to babel
  babel.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

refactor: replace fetchWeather with getWeather
  src/assets/weather.ts
  src/components/WeatherData.vue
  src/types.d.ts
Due: eslint --cache --fix, prettier --write

test: test getWeather(coordinates)
  src/assets/weather.test.js
Due: eslint --cache --fix, prettier --write

fix: validate coordinates
  src/assets/weather.test.js
  src/assets/weather.ts
Due: eslint --cache --fix, prettier --write

feat: getCoordinatesByCityName()
  src/assets/weather.test.js
  src/assets/weather.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,json,ts,vue,md}
